---
import "../styles/global.css";
---
<style lang="scss">
@use "sass:list";

// CSS VARIABLES

:root {
  --main-bg-color: rgb(196, 142, 7);
  --body-text-color: rgb(56, 44, 12);
}

// SCSS VARIABLES

$body-text-fonts: (Geneva, Verdana, sans-serif);

$screw-diameter: 24px;
$social-link-button-diameter: 90px;
$bg-panel-min-width: calc(3 * $social-link-button-diameter + 2 * $screw-diameter);
$bg-panel-max-width: 800px;

$bg-panel-scratchy-texture: (
  repeating-linear-gradient(
    15deg,
    transparent 0 4px,
    transparent 4px,
    rgba(255, 224, 146, 0.03),
    transparent 6px
  ),
  repeating-linear-gradient(
    56deg,
    transparent 0 4px,
    transparent 4px,
    rgba(255, 224, 146, 0.03),
    transparent 6px
  ),
  repeating-linear-gradient(
    87deg,
    transparent 0 4px,
    transparent 4px,
    rgba(255, 224, 146, 0.03),
    transparent 6px
  ),
  repeating-linear-gradient(
    109deg,
    transparent 0 4px,
    transparent 4px,
    rgba(255, 224, 146, 0.03),
    transparent 6px
  )
);

$bg-panel-light-shadow-gradient: (
  linear-gradient(
    rgba(255, 255, 255, 0.1) 0,
    rgba(136, 102, 16, 0.1) 20%
  ),
  linear-gradient(
    transparent 0,
    rgba(255, 201, 63, 0.1) 10%,
    rgba(136, 102, 16, 0.1)
  )
);

$bg-panel-inset-shadows: (
  inset 0 -3px 2px 1px rgba(100, 80, 27, 0.7),
  inset 0 -4px 2px 3px rgb(136, 102, 16),
  inset 0 -9px 6px 0px rgba(255, 240, 188, 0.2),
  inset 0 8px 5px 0px rgb(255, 224, 146),
  inset 0 4px 0px 1px rgba(255, 220, 112, 0.7),
  inset 0 3px 2px 3px rgb(136, 102, 16)
);

$bg-panel-reverse-shadows: (
  inset 0 3px 2px 1px rgba(100, 80, 27, 0.7),
  inset 0 4px 2px 3px rgb(136, 102, 16),
  inset 0 9px 6px 0px rgba(255, 240, 188, 0.2),
  inset 0 -5px 5px 0px rgba(255, 224, 146, 0.5),
  inset 0 -3px 5px 0px rgba(255, 220, 112, 0.5),
  1px 1px 5px 0 rgba(100, 80, 27, 0.7),
  0px 3px 4px 0 rgba(255, 220, 112, 0.7),
  -1px 1px 5px 0 rgba(100, 80, 27, 0.7),
  1px -1px 5px 0 rgba(100, 80, 27, 0.7),
  -1px -1px 5px 0 rgba(100, 80, 27, 0.7)
);

$bg-panel-drop-shadow: 0 7px 4px 0px rgba(15, 11, 0, 0.5);

$button-inset-shadows: (
  inset 0 -2px 2px 0 rgba(0, 0, 0, 0.6),
  inset 0 -2px 2px 1px rgba(100, 80, 27, 0.7),
  inset 0 -6px 6px 0px rgba(255, 240, 188, 0.2),
  inset 0 4px 4px 0px rgb(255, 224, 146),
  inset 0 3px 0px 1px rgba(255, 220, 112, 0.7),
  inset 0 2px 2px 3px rgb(136, 102, 16)
);

$button-drop-shadow: 0 3px 2px 0px rgba(15, 11, 0, 0.5);

// SCSS MIXINS

@mixin not-selectable {
  user-select: none;
  -webkit-user-select: none;
}

@mixin engraved-text-large {
  -webkit-text-fill-color: rgb(28, 18, 2);
  -webkit-text-stroke: rgba(255, 219, 112, 0.56) 2px;

  text-shadow:
    0px 2px 0px rgba(70, 56, 19, 0.3),
    0px 1px 0px rgb(255, 224, 146);
}

@mixin engraved-text-small {
  -webkit-text-fill-color: rgb(51, 33, 4);
  -webkit-text-stroke: rgba(255, 219, 112, 0.1) 1px;

  text-shadow:
    0px 1px 0px rgba(70, 56, 19, 0.3),
    0px 1px 0px rgba(255, 224, 146, 0.8);
}

@mixin screw-inner($diameter, $angle) {
  width: $diameter;
  height: $diameter;
  border-radius: 50%;
  background:
    radial-gradient(
      circle,
      transparent 0,
      transparent 60%,
      rgba(0, 0, 0, 0.3) 80%
    ),
    linear-gradient(
      $angle,
      rgba(255, 255, 255, 0.4) 0 15%,
      transparent 40% 60%,
      rgba(0, 0, 0, 0.2) 60%
    ),
    linear-gradient(
      $angle,
      rgb(215, 158, 13) 0 40%,
      rgb(56, 44, 12) 40% 45%,
      rgb(125, 100, 30) 45% 55%,
      rgba(255, 219, 112, 0.8) 55% 60%,
      rgb(215, 158, 13) 60%
    );
}

@mixin screw-outer($row, $col, $diameter, $angle) {
  grid-row: $row;
  grid-column: $col;
  display: flex;
  align-items: center;
  justify-content: center;

  .screw {
    @include screw-inner($diameter, $angle);
  }
}

@mixin callout-outer {
  padding: 0.25em 0.35em 0.25em 0.1em;
  margin-bottom: 0.75ex;
  clip-path: polygon(0% 0%, calc(100% - 22px) 0%, 100% 50%, calc(100% - 22px) 100%, 0% 100%);
  display: inline-block;
  background:
    linear-gradient(
      180deg,
      transparent 0,
      rgba(0, 0, 0, 0.3) 80%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.4) 0 15%,
      transparent 40% 60%,
      rgba(0, 0, 0, 0.2) 60%
    ),
    linear-gradient(
      180deg,
      rgb(215, 158, 13) 0,
      rgb(125, 100, 30) 100%,
    );

  .callout {
    @include callout-inner;
  }
}

@mixin callout-inner {
  @include engraved-text-small;
  @include not-selectable;
  font-size: 115%;
  background:
    list.join($bg-panel-scratchy-texture, $bg-panel-light-shadow-gradient),
    var(--main-bg-color);
  padding: 0.25em 1em 0.25em 0.5em;
  clip-path: polygon(0% 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
}

// ACTUAL CSS SELECTORS

#title-container-decorations > .screw-container.left {
  @include screw-outer(2, 1, $screw-diameter, 200deg);
}

#title-container-decorations > .screw-container.right {
  @include screw-outer(2, 12, $screw-diameter, 135deg);
}

#social-links-container-decorations > .screw-container.left {
  @include screw-outer(2, 1, $screw-diameter, 170deg);
}

#social-links-container-decorations > .screw-container.right {
  @include screw-outer(2, 12, $screw-diameter, 220deg);
}

#main-container-decorations > .screw-container.left {
  @include screw-outer(2, 1, $screw-diameter, 150deg);
}

#main-container-decorations > .screw-container.right {
  @include screw-outer(2, 12, $screw-diameter, 195deg);
}

#footer-decorations > .screw-container.left {
  @include screw-outer(2, 1, $screw-diameter, 135deg);
}

#footer-decorations > .screw-container.right {
  @include screw-outer(2, 12, $screw-diameter, 200deg);
}

p {
  font-family: $body-text-fonts;
  color: var(--body-text-color);
  line-height: 1.5;
  text-justify: distribute;
  text-align: justify;
  user-select: unset;
}

a {
  text-decoration: none;
  font-weight: bold;
}

header {
  display: grid;
  grid-template-rows: 0 1fr auto;
  grid-template-columns: 1fr minmax($bg-panel-min-width, $bg-panel-max-width) 1fr;
  row-gap: 1em;
}

#title-container-decorations {
  z-index: -1;
  grid-row: 2;
  grid-column: 2;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(12, 1fr);

  background: 
    list.join($bg-panel-scratchy-texture, $bg-panel-light-shadow-gradient),
    var(--main-bg-color);
  
  text-transform: uppercase;

  box-shadow: list.append(
    $bg-panel-inset-shadows,
    $bg-panel-drop-shadow
  );
}

#title-container {
  grid-row: 2;
  grid-column: 2;
  padding: 0.5em 1.5em 0.5em 1.5em;
}

#page-title {
  @include not-selectable;
  @include engraved-text-large;
  text-align: center;
  font-size: 30pt;
}

#social-links-container-decorations {
  z-index: -1;
  grid-row: 3;
  grid-column: 2;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(12, 1fr);

  background:
    list.join($bg-panel-scratchy-texture, $bg-panel-light-shadow-gradient),
    var(--main-bg-color);

  box-shadow: list.append(
    $bg-panel-inset-shadows,
    $bg-panel-drop-shadow
  );
}

#social-links {
  grid-row: 3;
  grid-column: 2;
  padding-inline-start: unset;
  user-select: none;
  -webkit-user-select: none;

  padding: 0 calc(100% / 12);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-block-start: 0.8em;
  margin-block-end: 1em;
}

.social-link-container {
  flex-basis: $social-link-button-diameter;
  flex-grow: 0;
  flex-shrink: 0;
  height: $social-link-button-diameter;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: list.append(
    $button-inset-shadows,
    $button-drop-shadow
  );
}

.social-link-icon {
  height: 2.5rem;
  width: 2.5rem;
}

.social-link-text {
  @include engraved-text-small;
  @include not-selectable;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
}

main {
  display: grid;
  grid-template-rows: 0 1fr auto;
  grid-template-columns: 1fr minmax($bg-panel-min-width, $bg-panel-max-width) 1fr;
  row-gap: 1em;
}

#main-container-decorations {
  z-index: -1;
  grid-row: 2;
  grid-column: 2;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(12, 1fr);

  background:
    list.join($bg-panel-scratchy-texture, $bg-panel-light-shadow-gradient),
    var(--main-bg-color);

  box-shadow: list.append(
    $bg-panel-inset-shadows,
    $bg-panel-drop-shadow
  );
}

#main-container {
  grid-row: 2;
  grid-column: 2;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

#about-container {
  margin: 20px calc(100% / 12);
  padding: 1ex;
}

.callout-wrapper {
  @include callout-outer();
}

#events-container {
  margin: 0 calc(100% / 12);
  padding: 1ex;
}

#events-list {
  height: 15ex;
  line-height: 1.25;
  overflow-y: scroll;
  padding: 1ex;
  min-height: 80%;
  box-shadow: $bg-panel-reverse-shadows;
  list-style-type: square;
  list-style-position: inside;
}

.event {
  font-family: $body-text-fonts;
}

#resources-container {
  margin: 20px calc(100% / 12);
  padding: 1ex;
}

menu#resources {
  margin: unset;
  list-style-type: none;
  padding-left: 30px;
  line-height: 150%;
  font-family: $body-text-fonts;
}

.resource-container {
  padding-left: 0;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100px 1fr;
}

.resource {
  grid-column: 1;
}

.resource-description {
  grid-column: 2;
}

footer {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr minmax($bg-panel-min-width, $bg-panel-max-width) 1fr;
  row-gap: 1em;
}

#footer-decorations {
  z-index: -1;
  grid-row: 1;
  grid-column: 2;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(12, 1fr);

  background:
    list.join($bg-panel-scratchy-texture, $bg-panel-light-shadow-gradient),
    var(--main-bg-color);

  box-shadow: list.append(
    $bg-panel-inset-shadows,
    $bg-panel-drop-shadow
  );
}

#footer-items {
  grid-row: 1;
  grid-column: 2;
  font-family: $body-text-fonts;
  margin: 10px calc(100% / 12);
  padding: 1ex;
  list-style: none;
}
</style>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="img/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="img/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="img/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/svg+xml" sizes="any" href="/rust-logo.svg">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>MVRust</title>
  </head>
  <body>
    <header>
      <div id="title-container-decorations">
        <div class="screw-container left">
          <div id="screw-left" class="screw"></div>
        </div>
        <div class="screw-container right">
          <div id="screw-right" class="screw"></div>
        </div>
      </div>
      <div id="title-container">
        <h1 id="page-title">Mountain View<br>Rust Study Group</h1>
      </div>
      <div id="social-links-container-decorations">
        <div class="screw-container left">
          <div class="screw"></div>
        </div>
        <div class="screw-container right">
          <div class="screw"></div>
        </div>
      </div>
      <menu id="social-links">
        <li class="social-link-container">
          <div class="social-link-icon">
            <a href="https://discord.gg/vWR96SCNG8" target="_blank" rel="noopener noreferrer">
              <img src="/discord-mark-black.svg">
            </a>
          </div>
          <div class="social-link-text">
            <a href="https://discord.gg/vWR96SCNG8" target="_blank" rel="noopener noreferrer">
              Discord
            </a>
          </div>
        </li>
        <li class="social-link-container">
          <div class="social-link-icon">
            <img src="/meetup.svg">
          </div>
          <div class="social-link-text">
            Meetup
          </div>
        </li>
        <li class="social-link-container">
          <div class="social-link-icon">
            <a href="https://twitter.com/rust_in_mv" target="_blank" rel="noopener noreferrer">
              <img src="/Logo black.svg">
            </a>
          </div>
          <div class="social-link-text">
            <a href="https://twitter.com/rust_in_mv" target="_blank" rel="noopener noreferrer">
              Twitter
            </a>
          </div>
        </li>
      </menu>
    </header>
    <main>
      <div id="main-container-decorations">
        <div class="screw-container left">
          <div class="screw"></div>
        </div>
        <div class="screw-container right">
          <div class="screw"></div>
        </div>
      </div>
      <div id="main-container">
        <section id="about-container">
          <p id="about-text">
            <span class="callout-wrapper">
              <span class="callout">Who is this group for?</span>
            </span>
            <br>
            Anyone interested in the <a href="https://www.rust-lang.org/">Rust programming language</a>:
            hobbyists, professionals, students, and anyone else. We plan to meet twice per month to work
            on personal projects or code exercises and present lightning talks about Rust and adjacent
            topics. This group does not have a corporate sponsor. We meet to learn from each other and
            hang out with like-minded social Rustaceans.
          </p>
        </section>
        <section id="events-container">
          <p id="events-text">
            <span class="callout-wrapper">
              <span class="callout">Events</span>
            </span>
            <br>
          </p>
          <ul id="events-list">
            <li class="event">
              <strong>Meetup #2 @ Hacker Dojo</strong>
              (<a href="https://www.meetup.com/hackerdojo/events/290337278/" target="_blank" rel="noopener noreferrer">link</a>)
              7:00PM-9:00PM on January 12, 2023
            </li>
            <li class="event">
              <strong>Meetup #1 @ Hacker Dojo</strong>
              (<a href="https://www.meetup.com/hackerdojo/events/290203072/" target="_blank" rel="noopener noreferrer">link</a>)
              7:00PM-9:00PM on December 15, 2022
            </li>
          </ul>
        </section>
        <section id="resources-container">
          <span class="callout-wrapper"><span class="callout">Rust Resources</span></span>
          <menu id="resources">
            <li class="resource-container">
              <div class="resource">
                <a href="https://sfrust.com/">SF Rust</a>
              </div>
              <div class="resource-description">
                Another IRL Rust meetup in San Francisco.
              </div>
            </li>
          </menu>
        </section>
      </div>
    </main>
    <footer>
      <div id="footer-decorations">
        <div class="screw-container left">
          <div class="screw"></div>
        </div>
        <div class="screw-container right">
          <div class="screw"></div>
        </div>
      </div>
      <menu id="footer-items">
        <li class="footer-item">
          <a href="https://github.com/alexsmaliy/mvrust-site" target="_blank" rel="noopener noreferrer">
            site source
          </a>
        </li>
        <li class="footer-item">
          The Rust logo is a trademark of the Rust Foundation.
        </li>
      </menu>
    </footer>
  </body>
</html>
